
/*remove margins */
h1, h2, h3, h4 {margin:0;}

/*this code use for place indivdual search box at top of the table*/
tfoot {
    display: table-header-group;
}

/*for getting same width for inputs as columns*/
tfoot input {
  width: 100%;
}

.modal {
     width: 90%;
     left: 5%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

.fc-state-highlight {background:rgb(40,0,0);}
/*highlighter of fullcalendaer*/

/*----------------------------------------------colorfull badge-----------------*/
.badge {
  padding: 1px 9px 2px;
  font-size: 16.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}
/*------------------------------------eof color badge--------------------------*/


.table-center {
            border-radius: 5px;

            margin: 0px auto;
            float: none;
        }
