
/*remove margins */
h1, h2, h3, h4 {margin:0;}

/*this code use for place indivdual search box at top of the table*/
tfoot {
    display: table-header-group;
}

/*for getting same width for inputs as columns*/
tfoot input {
  width: 100%;
}

.modal {
     width: 90%;
     left: 5%;
}
